

<ion-header>
  <ion-toolbar>

    <ion-title>
    Resultados
    </ion-title>

    <ion-buttons slot="end">
      
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>


    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="caja-resultados">
    <div class="caja-titulos">
        <h2 class="titulo-fecha">RESULTADOS</h2>
        <h1 class="titulo-fecha"> DE LA FECHA</h1>
    </div>
    <h4 class="texto-fecha">Fecha 13</h4>
    <div class="linea"></div>

<div  *ngFor="let casa of resultados">
    <app-resultado [resultado]=casa ></app-resultado>
</div>






</div>



</ion-content>