

<ion-header>
  <ion-toolbar>

    <ion-title>
     {{estudiantes}}
    </ion-title>

    <ion-buttons slot="end">
      
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>


    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngFor="let estudiante of estudiantes">
    <h1>Nombre: {{estudiante.nombre}}</h1>
    <h3>apellido: {{estudiante.apellido}}</h3>
    <p>edad: {{estudiante.edad}}</p>
  </div>


</ion-content>