

<ion-header>

    <ion-toolbar>

      <ion-title>
        Soccer  -  App
      </ion-title>

      <ion-buttons slot="end">
        
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>

        <ion-button (click)="openMenu($event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>


      </ion-buttons>

    </ion-toolbar>

</ion-header>


<ion-content>


  <app-menu></app-menu>

</ion-content>