

<ion-list>

  <ion-list-header>
    <strong>Menú</strong>
  </ion-list-header>


  <ion-item *ngIf="rol === 'admin' " detail="true" [routerLink]="['/home']" >
        <ion-label>
          Ajustes
        </ion-label>
        <ion-icon slot="start" name="home"></ion-icon>
  </ion-item>
  
  <ion-item detail="true" [routerLink]="['/resultados']" >
    <ion-label>
      Resultados
    </ion-label>
    <ion-icon slot="start" name="apps"></ion-icon>
  </ion-item>
  
  <ion-menu-toggle *ngIf="login == false">
    <ion-item  detail="true" [routerLink]="['/login']" routerLinkActive="router-link-active" >
      <ion-label>
       Login
      </ion-label>
      <ion-icon slot="start" name="apps"></ion-icon>
    </ion-item>

  </ion-menu-toggle>

  <ion-item *ngIf="login && rol == 'visitante' " detail="true">
    <ion-label>
    Perfil
    </ion-label>
    <ion-icon slot="start" name="apps"></ion-icon>
  </ion-item>
  

<ion-menu-toggle *ngIf="login">

  <ion-item detail="true" (click)="logout()">
    <ion-label>
     Logout
    </ion-label>
    <ion-icon slot="start" name="apps"></ion-icon>
  </ion-item>

</ion-menu-toggle>
  

</ion-list>
